@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Art School</h1>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome to the Art School</h1>
    <p>This is a sample Art School site for me to learn how to use the Entity Framework Core in an ASP.NET Core web app.</p>
</div>
<div class="col-md-4">
    <h2>Built from scratch</h2>
    <p>these are words!</p>
</div>
<div class="col-md-4">
    <h2>Tutorial</h2>
    <p>hello!</p>
</div>
